<div class="drop-down"
     [class.drop-down--active]="isOpen"
     #dropdownContainer>
  <div class="drop-down__selected" (click)="toggleDropdown()">
    @if (!this.selected().value) {
      <span class="drop-down__placeholder">{{ placeholder() }}</span>
    } @else {
      <span class="drop-down__icon" [class]="selected().iconPath"></span>
      <span class="drop-down__label">{{ selected().label }}</span>
    }
  </div>

  <div class="drop-down__options" [style.display]="isOpen ? 'block' : 'none'">
    @for (option of options(); track option.value) {
      <div class="drop-down__option" (click)="selectOption(option)">
        <span class="drop-down__icon" [class]="option.iconPath"></span>
        <span class="drop-down__label">{{ option.label }}</span>
      </div>
    }
  </div>
</div>
