.lf-button {
  @extend .lf-heading-s !optional;
  width: 100%;
  height: 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.primary {
    background-color: var(--lf-primary-purple);
    color: var(--lf-primary-white);
    border: none;

    &.active {
      background-color: var(--lf-secondary-purple);
      box-shadow: 0 0 6px 0 var(--lf-purple-shadow);
    }

    &.disabled {
      opacity: 25%;
      cursor: not-allowed;
    }
  }

  &.secondary {
    border-color: var(--lf-primary-purple);
    color: var(--lf-primary-purple);
    background-color: var(--lf-primary-white);
    border: 1px solid var(--lf-primary-purple);

    &.active {
      background-color: var(--lf-background-light-purple);
    }

    &.disabled {
      opacity: 25%;
      cursor: not-allowed;
    }
  }
}
