<div class="lf-drop-down-container" [class.lf-drop-down-container--active]="isOpen">
  <div class="lf-drop-down-selected" (click)="toggleDropdown()">
    @if (selected()) {
      <span class="lf-drop-down-icon" [class]="selected().iconPath"></span>

      <span class="lf-drop-down-label">{{ selected().label }}</span>
    } @else {
      <span class="lf-drop-down-placeholder">Select a platform</span>
    }
  </div>

  @if (isOpen) {
    <div class="lf-drop-down-options">
      @for (option of options(); track option.value) {
        <div class="lf-drop-down-option" (click)="selectOption(option)">
          <span class="lf-drop-down-icon" [class]="option.iconPath"></span>

          <span class="lf-drop-down-label">{{ option.label }}</span>
        </div>
      }
    </div>
  }
</div>
