:host {
  display: flex;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  flex-direction: column;
  background-color: var(--lf-background-light-gray);
  padding: 20px;
  gap: 20px;
}

.lf-main-links-customize-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 20px;

  .lf-main-links-left-container {
    width: 40%;
    height: 100%;
  }

  .lf-main-links-right-container {
    width: 60%;
    height: 100%;
  }
}
