@font-face {
  font-family: 'Instrument Sans';
  src: url('./InstrumentSans-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('./InstrumentSans-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
