<div class="lf-input-container lf-input-container--error">
    <div class="lf-input-left-container">
        @if (!!iconPath()) {
            <span class="lf-input-icon">
                <img [src]="iconPath()" alt="icon"/>
            </span>
        }
        <input class="lf-input" [type]="type()"
               [placeholder]="placeholder()"
               (input)="onInputChange($event)"/>
    </div>

    <div class="lf-input-right-container">
        @if (!!errorMessage()) {
            <span class="lf-input-error-message">
                {{ errorMessage() }}
            </span>
        }
    </div>
</div>
