@use './../variables/colors' as colors;

.lf-button {
  width: 100%;
  height: 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.primary {
    background-color: colors.$lf-primary-purple;
    color: colors.$lf-primary-white;
    border: none;

    &.active {
      background-color: colors.$lf-secondary-purple;
      box-shadow: 0 0 6px 0 colors.$lf-purple-shadow;
    }

    &.disabled {
      opacity: 25%;
      cursor: not-allowed;
    }
  }

  &.secondary {
    color: colors.$lf-primary-purple;
    background-color: colors.$lf-primary-white;
    border: 1px solid colors.$lf-primary-purple;

    &.active, &:hover {
      background-color: colors.$lf-background-light-purple;
    }

    &.disabled {
      opacity: 25%;
      cursor: not-allowed;
    }
  }

  &:focus-visible {
    outline: none;
  }

  span {
    cursor: pointer;
  }
}
