@use './../variables/colors' as colors;
@use './../variables/typography' as fonts;

.lf-input-container {
  height: 1.8rem;
  gap: 5px;
  font-family: fonts.$lf-instrument-sans-font-family, serif;
  border-radius: 8px;
  border: 1px solid colors.$lf-borders-gray;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .lf-input-left-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .lf-input-right-container {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .lf-input-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: colors.$lf-secondary-gray;

    img {
      width: 17px;
      height: 17px;
    }
  }

  .lf-input {
    border: none;
    font-size: 14px;
    color: colors.$lf-primary-gray;
    width: 100%;
    background-color: transparent;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: colors.$lf-borders-gray;
    }
  }

  &--active {
    box-shadow: 0 0 12px 0 colors.$lf-purple-shadow;
    border: 1px solid colors.$lf-primary-purple;
  }

  &--error {
    border: 1px solid colors.$lf-primary-red;

    .lf-input {
      color: colors.$lf-primary-red;
    }

    .lf-input-error-message {
      color: colors.$lf-primary-red;
      font-size: 12px;
      width: max-content;
    }
  }
}
