:host {
  display: flex;
  padding: 20px 25px;
  background-color: var(--lf-primary-white);
  height: calc(100% - 40px);
  gap: 45px;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
}

.lf-mobile-preview-borders {
  position: absolute;
  height: 77%;
  z-index: 2;
  width: 40%;
  left: 0;

  .lf-mobile-preview-inside-border, .lf-mobile-preview-outside-border {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .lf-mobile-preview-inside-border{
    padding: 10px 5px;
    width: calc(100% - 10px);
    height: calc(100% - 20px);
  }
}

.lf-mobile-preview-profile {
  display: flex;
  justify-content: center;
  z-index: 3;
  width: 40%;
  height: calc(100% - 20px);
  padding-top: 56px;
  gap: 10px;
  margin-right: 1rem;
}
