<section class="lf-login-view-container">
    <div class="lf-login-view-title-container">
        <img class="lf-login-view-logo" src="icons/linkify-logo.svg" alt="Linkify logo"/>
        <span class="lf-login-view-title lf-heading-m">Linkify</span>
    </div>

    <form class="lf-login-view-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="lf-login-view-form-header">
            <span class="lf-login-title lf-heading-m">Login</span>

            <span class="lf-body-m lf-login-description">Add your details below to get back into the app</span>
        </div>

        <div class="lf-login-view-form-input-wrapper">
            <label class="lf-body-s">Email</label>

            <lf-input type="email"
                      placeholder="e.g. alex@email.com"
                      iconPath="icons/email-icon.svg"
                      [errorMessage]="getErrorMessage('email')"
                      (inputValueChange)="onInputValueChange('email', $event)">
            </lf-input>
        </div>

        <div class="lf-login-view-form-input-wrapper">
            <label class="lf-body-s">Password</label>

            <lf-input type="password"
                      placeholder="Enter your password"
                      iconPath="icons/lock-key-icon.svg"
                      [errorMessage]="getErrorMessage('password')"
                      (inputValueChange)="onInputValueChange('password', $event)">
            </lf-input>
        </div>

        <lf-button type="submit"
                   [buttonText]="'Login'"
                   [primary]="true">
        </lf-button>

        <div class="lf-body-m lf-login-view-create-account">
            <span class="lf-login-view-create-account-question">
              Don't have an account?
            </span>

            <span class="lf-login-view-create-account-create">
              Create account
            </span>
        </div>
    </form>
</section>
