.lf-login-view-container {
  width: 100%;
  height: 100%;
  background-color: var(--lf-background-light-gray);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;

  .lf-login-view-title-container {
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .lf-login-view-form {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    background-color: var(--lf-primary-white);
    padding: 2rem;
    border-radius: 0.75rem;
    margin: 0 2rem;

    &-header{
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .lf-login-description {
        color: var(--lf-secondary-font-color);
      }
    }

    .lf-login-view-form-input-wrapper {
      width: 100%;
    }

    .lf-login-view-create-account {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      justify-content: center;

      &-question {
        color: var(--lf-secondary-font-color);
      }

      &-create {
        color: var(--lf-primary-purple);
      }
    }
  }
}
