<section class="lf-profile-header">
  <img class="lf-profile-picture" src="" alt="Profile picture"/>

  <span class="lf-profile-name lf-body-m">Nath LeGal</span>

  <span class="lf-profile-email lf-body-s">nath_legal.gmail.com</span>
</section>

<section class="lf-profile-buttons-container">
  @for ( link of savedLinks; track link.id) {
    <button class="lf-platform-button"
            [style.background-color]="link.color"
            (click)="openLink(link.link)">
      <span [class]="link.iconPath"></span>

      <span class="lf-body-s lf-platform-name"> {{link.platform | titlecase}} </span>

      <span class="lf-icon-arrow"></span>
    </button>
  }
</section>
