<section class="lf-profile-header">
  @if (profileData.image) {
    <img class="lf-profile-picture" [src]="profileData.image" alt="Profile picture"/>
  }

  <span class="lf-profile-name lf-body-m">{{profileData.firstName}} {{profileData.lastName}}</span>

  <span class="lf-profile-email lf-body-s">{{profileData.email}}</span>
</section>

<section class="lf-profile-buttons-container">
  @for ( link of savedLinks; track link.id) {
    <button class="lf-platform-button"
            [style.background-color]="link.color"
            (click)="openLink(link.link)">
      <span [class]="link.iconPath"></span>

      <span class="lf-body-s lf-platform-name"> {{link.platform | titlecase}} </span>

      <span class="lf-icon-arrow"></span>
    </button>
  }
</section>
