:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 25px;
  max-height: 100%;
}

.lf-profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 150px;
  width: 100%;

  .lf-profile-header-email-container {
    width: 50%;
    height: 10px;
    background-color: var(--lf-background-light-gray);
    border-radius: 10px;
    display: flex;
    align-items: center;

    &.active {
      background-color: transparent;
    }

    .lf-profile-email {
      color: var(--lf-secondary-font-color)
    }
  }

  .lf-profile-header-name-container {
    width: 70%;
    height: 15px;
    background-color: var(--lf-background-light-gray);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      background-color: transparent;
    }

    .lf-profile-name {
      font-weight: 600;
    }
  }

  .lf-profile-header-image-container {
    height: 100px;
    width: 100px;
    background-color: var(--lf-background-light-gray);
    border-radius: 50%;

    .lf-profile-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.lf-profile-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-height: 50%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .lf-platform-button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: var(--lf-primary-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInCard 0.4s ease-out forwards;

    .lf-platform-name {
      font-weight: 600;
    }
  }
}
