<section class="lf-profile-header">
  <img class="lf-profile-picture" src="" alt="Profile picture"/>

  <span class="lf-profile-name lf-body-m">Nath LeGal</span>

  <span class="lf-profile-email lf-body-s">nath_legal.gmail.com</span>
</section>

<section class="lf-profile-buttons-container">
  <button class="lf-platform-button">
    <span class="lf-icon-youtube"></span>

    <span class="lf-body-s lf-platform-name"> Youtube </span>

    <span class="lf-icon-arrow"></span>
  </button>
</section>
