/* Primary colors */
$primary-purple: #633cff;
$primary-gray: #333333;
$primary-red: #ff3939;
$primary-white: #ffffff;

/* Secondary colors */
$secondary-purple: #beadff;
$secondary-gray: #737373;

/* Background colors */
$background-light-gray: #fafafa;
$background-light-purple: #efebff;

/* Shadow colors*/
$purple-shadow: #633cffa1;

/* Border colors */
$borders-gray: #d9d9d9;
