$icomoon-font-family: "linkify" !default;
$icomoon-font-path: "fonts" !default;

$lf-icon-devto-dark: "\e906";
$lf-icon-link: "\e900";
$lf-icon-twitter: "\e901";
$lf-icon-linkedin: "\e902";
$lf-icon-youtube: "\e903";
$lf-icon-facebook: "\e904";
$lf-icon-twitch: "\e905";
$lf-icon-codewars: "\e909";
$lf-icon-codepen: "\e90a";
$lf-icon-free-code-camp: "\e90b";
$lf-icon-gitlab: "\e90c";
$lf-icon-hashnode: "\e90d";
$lf-icon-stackoverflow: "\e90e";
$lf-icon-fe-mentor: "\e90f";
$lf-icon-image-preview: "\e910";
$lf-icon-arrow: "\e911";
$lf-icon-github: "\e912";
$lf-icon-profile: "\e913";
$lf-icon-envelope: "\e907";
$lf-icon-menu: "\e914";
$lf-icon-lock: "\e915";
$lf-icon-arrow-down: "\e908";
