:host {
  display: flex;
  padding: 20px 25px;
  background-color: var(--lf-primary-white);
  height: calc(100% - 40px);
  gap: 45px;
  flex-direction: column;
  border-radius: 12px;
}

.lf-customize-links-header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;

  .lf-description {
    color: var(--lf-secondary-font-color);
  }
}

.lf-manage-links-container {
  width: 100%;
}
