<section class="lf-header-container">
  <div class="lf-header-left">
    <img class="lf-header-logo" src="images/linkify-logo.svg"/>

    <span class="lf-header-app-name lf-heading-s">Linkify</span>
  </div>

  <div class="lf-header-center">
    <lf-tab [iconSrc]="'lf-icon-link'"
            [text]="'Links'"
            [active]="selectedTab === 'Links'"
            (tabClick)="onTabPressed('Links')"/>

    <lf-tab [iconSrc]="'lf-icon-profile'"
            [text]="'Profile Details'"
            [active]="selectedTab === 'Profile Details'"
            (tabClick)="onTabPressed('Profile Details')"/>
  </div>

  <div class="lf-header-right">
    <lf-button [buttonText]="'Preview'"
               [primary]="false"/>
  </div>
</section>
