:host {
  display: flex;
  flex-direction: column;
  background-color: var(--lf-background-light-gray);
  padding: 15px;
  border-radius: 12px;
  gap: 12px;
}

.lf-input-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: var(--lf-secondary-font-color);

  .lf-input-remove-button {
    color: var(--lf-secondary-font-color);
    cursor: pointer;
  }

  .lf-input-container-left {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    .lf-icon-menu {
      font-size: 8px;
      cursor: pointer;
    }

    .lf-link-number {
      font-weight: 900;
      cursor: pointer;
    }
  }
}

.lf-link-input-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 10px;

  .lf-input-link, .lf-input-platform {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;

    lf-input {
      width: 100%;
      background-color: var(--lf-primary-white);
      border-radius: 8px;
    }

    lf-drop-down {
      background-color: var(--lf-primary-white);
      border-radius: 8px;
    }
  }
}
